body {
  background-color: snow;
}

h1 {
  background-color: ghostwhite;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  font-family: cursive;
  font-size: 72px;
  text-align: center;
}
