body {
    background-color: snow;
}

h1 {
    background-color: ghostwhite;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    font-family: cursive;
    font-size: 72px;
    text-align: center;
}
